body{
    font-family: 'Roboto', sans-serif;
}
/****NavBar****/
.nav-item{
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}
.dropdown-item{
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}
/****Footer******/
.my_footer{
    background-color:#cf51a0;
    height:60px;
}
.my_footer p{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}
/****Category page****/
.my_row_class{
    padding-top:15px;
}
.my_row_class .mx-auto p auto{
    color:#000;
    font-size:12px;
    text-decoration:none;
}
.my_image{
    width:1%;
    height:20%;
}
.my_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
}
.my_image_padding{
    padding-top:5px;
}